{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/preset-react",
    [
      "@babel/preset-stage-1",
      {
        "decoratorsLegacy": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env",
        [
          "@babel/preset-stage-1",
          {
            "decoratorsLegacy": true
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        "dynamic-import-node"
      ]
    }
  },
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ]
}
