ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
* {
  box-sizing: border-box;
}
.hidden {
  display: none !important;
}
.text-center {
  text-align: center;
}
.react-jinke-music-player-main .loading {
  display: inline-flex;
  animation: audioLoading 1s linear infinite;
}
.react-jinke-music-player-main .loading svg {
  font-size: 24px;
  color: #31c27c;
}
.translate {
  animation: translate 1400ms cubic-bezier(0.43, -0.1, 0.16, 1.1) forwards;
}
.scale {
  animation: scaleTo 1400ms cubic-bezier(0.43, -0.1, 0.16, 1.1) forwards;
}
@keyframes playing {
  to {
    transform: rotateX(360deg);
  }
}
@keyframes audioLoading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  from {
    transform: scale(0);
  }
  50% {
    opacity: .6;
    transform: scale(1.5);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes scaleTo {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleFrom {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes imgRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fromTo {
  from {
    transform: scale(1) translate3d(0, 110%, 0);
  }
  to {
    transform: scale(1) translate3d(0, 0, 0);
  }
}
@keyframes fromOut {
  from {
    transform: scale(1) translate3d(0, 0, 0);
  }
  to {
    transform: scale(1) translate3d(0, 110%, 0);
  }
}
@keyframes fromDown {
  from {
    transform: scale(1) translate3d(0, -110%, 0);
  }
  to {
    transform: scale(1) translate3d(0, 0, 0);
  }
}
@keyframes translate {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.img-rotate-pause {
  animation-play-state: paused !important;
}
.audio-lists-panel {
  display: block;
  overflow: hidden;
  position: absolute;
  right: 33px;
  bottom: 80px;
  z-index: 999;
  width: 480px;
  height: 410px;
  color: rgba(255, 255, 255, 0.8);
  transform-origin: right bottom;
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(0);
  display: none\9;
  transition: background-color 1400ms cubic-bezier(0.43, -0.1, 0.16, 1.1);
}
.audio-lists-panel svg {
  font-size: 24px;
}
.audio-lists-panel.show {
  animation: scaleTo 1400ms cubic-bezier(0.43, -0.1, 0.16, 1.1) forwards;
  display: block\9;
}
.audio-lists-panel.hide {
  animation: scaleFrom 1400ms cubic-bezier(0.43, -0.1, 0.16, 1.1) forwards;
  display: none\9;
}
@media screen and (max-width: 767px) {
  .audio-lists-panel {
    width: 100% !important;
    top: 0;
    left: 0;
    height: 100vh;
    transform-origin: bottom center;
  }
  .audio-lists-panel.show {
    animation: fromTo 1400ms cubic-bezier(0.43, -0.1, 0.16, 1.1) forwards;
    display: block\9;
  }
  .audio-lists-panel.hide {
    animation: fromOut 1400ms cubic-bezier(0.43, -0.1, 0.16, 1.1) forwards;
    display: none\9;
  }
}
@media screen and (max-width: 767px) {
  .audio-lists-panel .audio-item {
    background-color: rgba(64, 68, 75, 0.5) !important;
  }
  .audio-lists-panel .audio-item.playing {
    background-color: rgba(64, 68, 75, 0.75) !important;
  }
}
.audio-lists-panel-header {
  border-bottom: 1px solid rgba(3, 3, 3, 0.7);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: background-color, border-bottom 1400ms cubic-bezier(0.43, -0.1, 0.16, 1.1);
}
.audio-lists-panel-header .close-btn {
  float: right;
  cursor: pointer;
}
.audio-lists-panel-header .title {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 16px;
  margin: 0;
  text-align: left;
  font-weight: 500;
  transition: color 1400ms cubic-bezier(0.43, -0.1, 0.16, 1.1);
}
.audio-lists-panel-content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 359px;
}
@media screen and (max-width: 767px) {
  .audio-lists-panel-content {
    width: 100% !important;
    height: calc(100vh - 80px - 50px);
    transform-origin: bottom center;
  }
}
.audio-lists-panel-content.no-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-lists-panel-content .no-data {
  margin-left: 10px;
}
.audio-lists-panel-content .audio-item {
  background-color: #40444b;
  border-bottom: #40444b;
  padding: 1px 20px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 1400ms cubic-bezier(0.43, -0.1, 0.16, 1.1);
}
.audio-lists-panel-content .audio-item.playing {
  background-color: #454951;
}
.audio-lists-panel-content .audio-item.playing svg {
  color: #31c27c;
}
.audio-lists-panel-content .audio-item .player-icons {
  display: inline-flex;
  width: 30px;
}
.audio-lists-panel-content .audio-item .player-icons .loading {
  animation: audioLoading .9s linear infinite;
}
.audio-lists-panel-content .audio-item:hover,
.audio-lists-panel-content .audio-item:active {
  background-color: #454951;
}
.audio-lists-panel-content .audio-item:hover svg,
.audio-lists-panel-content .audio-item:active svg {
  color: #31c27c;
}
.audio-lists-panel-content .audio-item .group {
  display: inline-flex;
}
.audio-lists-panel-content .audio-item .player-name {
  flex: 1 1 auto;
  padding: 0 20px 0 10px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color 1400ms cubic-bezier(0.43, -0.1, 0.16, 1.1);
}
.audio-lists-panel-content .audio-item .player-time {
  font-size: 12px;
  color: rgba(217, 217, 217, 0.45);
  transition: color 1400ms cubic-bezier(0.43, -0.1, 0.16, 1.1);
}
