ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
* {
  box-sizing: border-box;
}
.hidden {
  display: none !important;
}
.text-center {
  text-align: center;
}
.react-jinke-music-player .loading,
.react-jinke-music-player-mobile .loading {
  display: inline-flex;
  animation: audioLoading linear .9s infinite;
  margin-top: 4px;
}
.react-jinke-music-player .loading svg,
.react-jinke-music-player-mobile .loading svg {
  font-size: 24px;
  color: #31c27c;
}
.translate {
  animation: translate 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.scale {
  animation: scaleTo 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@keyframes playing {
  to {
    transform: rotateX(360deg);
  }
}
@keyframes audioLoading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  from {
    transform: scale(0);
  }
  50% {
    opacity: .6;
    transform: scale(1.5);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes scaleTo {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleFrom {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes imgRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fromTo {
  from {
    transform: scale(1) translate3d(0, 110%, 0);
  }
  to {
    transform: scale(1) translate3d(0, 0, 0);
  }
}
@keyframes fromOut {
  from {
    transform: scale(1) translate3d(0, 0, 0);
  }
  to {
    transform: scale(1) translate3d(0, 110%, 0);
  }
}
@keyframes fromDown {
  from {
    transform: scale(1) translate3d(0, -110%, 0);
  }
  to {
    transform: scale(1) translate3d(0, 0, 0);
  }
}
@keyframes translate {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.img-rotate-pause {
  animation-play-state: paused !important;
}
.react-jinke-music-player-mobile {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: mobile-bg 0.45s cubic-bezier(0.165, 0.84, 0.44, 1.1) forwards;
  transition: background-color 0.45s cubic-bezier(0.165, 0.84, 0.44, 1.1);
}
.react-jinke-music-player-mobile > .group {
  flex: 1 1 auto;
}
.react-jinke-music-player-mobile svg {
  transition: color 0.45s cubic-bezier(0.165, 0.84, 0.44, 1.1);
}
.react-jinke-music-player-mobile-play-model-tip {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 35px;
  line-height: 35px;
  background-color: #31c27c;
  color: #fff;
  padding: 0 20px;
  z-index: 1000;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -105%, 0);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.react-jinke-music-player-mobile-play-model-tip .title {
  margin-right: 12px;
}
.react-jinke-music-player-mobile-play-model-tip .text {
  font-size: 14px;
}
.react-jinke-music-player-mobile-play-model-tip.show {
  transform: translate3d(0, 0, 0);
}
.react-jinke-music-player-mobile-header {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  animation: fromDown 0.45s cubic-bezier(0.165, 0.84, 0.44, 1.1) forwards;
}
.react-jinke-music-player-mobile-header .title {
  flex-basis: 80%;
  text-align: center;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.react-jinke-music-player-mobile-header .item {
  display: inline-flex;
  width: 50px;
}
.react-jinke-music-player-mobile-header .right {
  justify-content: flex-end;
  color: rgba(255, 255, 255, 0.6);
}
.react-jinke-music-player-mobile-header .right svg {
  font-size: 25px;
}
.react-jinke-music-player-mobile-singer {
  animation: fromDown 0.45s cubic-bezier(0.165, 0.84, 0.44, 1.1) forwards;
  padding: 12px 0;
}
@media screen and (max-width: 320px) {
  .react-jinke-music-player-mobile-singer {
    padding: 0;
  }
}
.react-jinke-music-player-mobile-singer .name {
  position: relative;
  font-size: 14px;
}
.react-jinke-music-player-mobile-singer .name:before,
.react-jinke-music-player-mobile-singer .name:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 1px;
  top: 9px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.6);
}
.react-jinke-music-player-mobile-singer .name:after {
  left: -25px;
}
.react-jinke-music-player-mobile-singer .name:before {
  right: -25px;
}
.react-jinke-music-player-mobile-cover {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 15px auto;
  animation: fromTo 0.45s cubic-bezier(0.165, 0.84, 0.44, 1.1) forwards;
  overflow: hidden;
}
@media screen and (max-width: 320px) {
  .react-jinke-music-player-mobile-cover {
    width: 230px;
    height: 230px;
    margin: 10px auto;
  }
}
.react-jinke-music-player-mobile-cover .cover {
  width: 100%;
  animation: imgRotate 30s linear infinite;
}
.react-jinke-music-player-mobile-progress {
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.react-jinke-music-player-mobile-progress .current-time,
.react-jinke-music-player-mobile-progress .duration {
  display: inline-flex;
  width: 55px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}
.react-jinke-music-player-mobile-progress .duration {
  justify-content: flex-end;
}
.react-jinke-music-player-mobile-progress .progress-bar {
  flex: 1 1 auto;
}
.react-jinke-music-player-mobile-progress .rc-slider-rail {
  background-color: rgba(255, 255, 255, 0.6);
}
.react-jinke-music-player-mobile-swtich {
  animation: fromDown 0.45s cubic-bezier(0.165, 0.84, 0.44, 1.1) forwards;
}
.react-jinke-music-player-mobile-toggle {
  padding: 17px 0;
}
.react-jinke-music-player-mobile-toggle .group svg {
  font-size: 40px;
}
.react-jinke-music-player-mobile-toggle .play-btn {
  padding: 0 40px;
}
.react-jinke-music-player-mobile-toggle .play-btn svg {
  font-size: 60px;
}
@media screen and (max-width: 320px) {
  .react-jinke-music-player-mobile-toggle {
    padding: 10px 0;
  }
  .react-jinke-music-player-mobile-toggle > .group svg {
    font-size: 32px;
  }
  .react-jinke-music-player-mobile-toggle .play-btn svg {
    font-size: 50px;
  }
}
.react-jinke-music-player-mobile-toggle,
.react-jinke-music-player-mobile-progress {
  animation: fromTo 0.45s cubic-bezier(0.165, 0.84, 0.44, 1.1) forwards;
}
.react-jinke-music-player-mobile-operation {
  animation: fromTo 0.45s cubic-bezier(0.165, 0.84, 0.44, 1.1) forwards;
}
.react-jinke-music-player-mobile-operation .items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.react-jinke-music-player-mobile-operation .items .item {
  flex: 1;
  text-align: center;
}
.react-jinke-music-player-mobile-operation .items .item svg {
  color: rgba(255, 255, 255, 0.6);
  font-size: 25px;
}
@media screen and (max-width: 320px) {
  .react-jinke-music-player-mobile-operation .items .item svg {
    font-size: 20px;
  }
}
@keyframes mobile-bg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.react-jinke-music-player-main {
  touch-action: none;
}
.react-jinke-music-player-main ::-webkit-scrollbar-thumb {
  height: 20px;
  background-color: #31c27c;
  opacity: .5;
}
.react-jinke-music-player-main ::-webkit-scrollbar {
  width: 10px;
  background-color: #f7f8fa;
}
.react-jinke-music-player-main.light-theme svg {
  color: #31c27c;
}
.react-jinke-music-player-main.light-theme svg:hover,
.react-jinke-music-player-main.light-theme svg:active {
  color: #3ece89;
}
.react-jinke-music-player-main.light-theme .music-player-panel {
  box-shadow: 0 1px 2px 0 rgba(0, 34, 77, 0.05);
  background-color: #fff;
  color: #7D7D7D;
}
.react-jinke-music-player-main.light-theme .music-player-panel .img-content {
  box-shadow: 0 0 10px #dcdcdc;
}
.react-jinke-music-player-main.light-theme .rc-switch {
  color: #fff;
}
.react-jinke-music-player-main.light-theme .rc-switch::after {
  background-color: #fff;
}
.react-jinke-music-player-main.light-theme .rc-switch-checked {
  background-color: #31c27c !important;
  border: 1px solid #31c27c;
}
.react-jinke-music-player-main.light-theme .rc-switch-inner {
  color: #fff;
}
.react-jinke-music-player-main.light-theme .audio-lists-btn {
  background-color: #E1E1E2 !important;
}
.react-jinke-music-player-main.light-theme .audio-lists-btn:hover,
.react-jinke-music-player-main.light-theme .audio-lists-btn:active {
  color: #444;
  background-color: #e6e6e7;
}
.react-jinke-music-player-main.light-theme .audio-lists-btn > .group:hover,
.react-jinke-music-player-main.light-theme .audio-lists-btn > .group:hover > svg {
  color: #444;
}
.react-jinke-music-player-main.light-theme .audio-lists-panel {
  color: #444;
  background-color: #fff;
  box-shadow: 0 0 2px #dcdcdc;
}
.react-jinke-music-player-main.light-theme .audio-lists-panel .audio-item {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .react-jinke-music-player-main.light-theme .audio-lists-panel .audio-item {
    background-color: #fff !important;
  }
  .react-jinke-music-player-main.light-theme .audio-lists-panel .audio-item.playing {
    background-color: #fafafa !important;
  }
  .react-jinke-music-player-main.light-theme .audio-lists-panel .audio-item.playing svg {
    color: #31c27c;
  }
}
.react-jinke-music-player-main.light-theme .audio-lists-panel-header {
  color: #444;
  background-color: #F4F4F7;
  border-bottom: 1px solid #F4F4F7;
}
.react-jinke-music-player-main.light-theme .audio-item {
  box-shadow: 0 0 2px transparent !important;
  border-bottom: 1px solid rgba(220, 220, 220, 0.26);
  background-color: rgba(64, 68, 75, 0.65);
}
.react-jinke-music-player-main.light-theme .audio-item:hover,
.react-jinke-music-player-main.light-theme .audio-item:active {
  background-color: #fafafa !important;
}
.react-jinke-music-player-main.light-theme .audio-item:hover svg,
.react-jinke-music-player-main.light-theme .audio-item:active svg {
  color: #31c27c;
}
.react-jinke-music-player-main.light-theme .audio-item.playing {
  background-color: #fafafa !important;
}
.react-jinke-music-player-main.light-theme .audio-item.playing svg {
  color: #31c27c;
}
.react-jinke-music-player-main.light-theme .player-time {
  color: rgba(162, 162, 162, 0.45) !important;
}
.react-jinke-music-player-main.light-theme .react-jinke-music-player-mobile {
  background-color: #fff;
  color: #444;
}
.react-jinke-music-player-main.light-theme .react-jinke-music-player-mobile .react-jinke-music-player-mobile-cover {
  border: 5px solid transparent;
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.2);
}
.react-jinke-music-player-main.light-theme .react-jinke-music-player-mobile .current-time,
.react-jinke-music-player-main.light-theme .react-jinke-music-player-mobile .duration {
  color: #444;
}
.react-jinke-music-player-main.light-theme .react-jinke-music-player-mobile .rc-slider-rail {
  background-color: #e9e9e9;
}
.react-jinke-music-player-main.light-theme .react-jinke-music-player-mobile .react-jinke-music-player-mobile-operation svg {
  color: #444;
}
.react-jinke-music-player-main.light-theme .react-jinke-music-player-mobile .react-jinke-music-player-mobile-play-model-tip svg {
  color: #fff !important;
}
.react-jinke-music-player-main.light-theme .react-jinke-music-player-mobile .react-jinke-music-player-mobile-singer .name::before,
.react-jinke-music-player-main.light-theme .react-jinke-music-player-mobile .react-jinke-music-player-mobile-singer .name::after {
  background-color: #444;
}
.react-jinke-music-player-main .audio-lists-panel {
  display: block;
  overflow: hidden;
  position: absolute;
  right: 33px;
  bottom: 80px;
  z-index: 999;
  width: 480px;
  height: 410px;
  color: rgba(255, 255, 255, 0.8);
  transform-origin: right bottom;
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(0);
  display: none\9;
}
.react-jinke-music-player-main .audio-lists-panel svg {
  font-size: 24px;
}
.react-jinke-music-player-main .audio-lists-panel.show {
  animation: scaleTo 0.4s cubic-bezier(0.43, -0.1, 0.16, 1.1) forwards;
  display: block\9;
}
.react-jinke-music-player-main .audio-lists-panel.hide {
  animation: scaleFrom 0.4s cubic-bezier(0.43, -0.1, 0.16, 1.1) forwards;
  display: none\9;
}
@media screen and (max-width: 767px) {
  .react-jinke-music-player-main .audio-lists-panel {
    width: 100% !important;
    top: 0;
    left: 0;
    height: 100vh;
    transform-origin: bottom center;
  }
  .react-jinke-music-player-main .audio-lists-panel.show {
    animation: fromTo 0.4s cubic-bezier(0.43, -0.1, 0.16, 1) forwards;
    display: block\9;
  }
  .react-jinke-music-player-main .audio-lists-panel.hide {
    animation: fromOut 0.4s cubic-bezier(0.43, -0.1, 0.16, 1.1) forwards;
    display: none\9;
  }
}
@media screen and (max-width: 767px) {
  .react-jinke-music-player-main .audio-lists-panel .audio-item {
    background-color: rgba(64, 68, 75, 0.5) !important;
  }
  .react-jinke-music-player-main .audio-lists-panel .audio-item.playing {
    background-color: rgba(64, 68, 75, 0.75) !important;
  }
}
.react-jinke-music-player-main .audio-lists-panel-header {
  border-bottom: 1px solid rgba(3, 3, 3, 0.7);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.react-jinke-music-player-main .audio-lists-panel-header .close-btn {
  float: right;
  cursor: pointer;
}
.react-jinke-music-player-main .audio-lists-panel-header .title {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 16px;
  margin: 0;
  text-align: left;
  font-weight: 500;
}
.react-jinke-music-player-main .audio-lists-panel-content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 359px;
}
@media screen and (max-width: 767px) {
  .react-jinke-music-player-main .audio-lists-panel-content {
    width: 100% !important;
    height: calc(100vh - 80px - 50px);
    transform-origin: bottom center;
  }
}
.react-jinke-music-player-main .audio-lists-panel-content.no-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-jinke-music-player-main .audio-lists-panel-content .no-data {
  margin-left: 10px;
}
.react-jinke-music-player-main .audio-lists-panel-content .audio-item {
  background-color: #40444b;
  border-bottom: #40444b;
  padding: 0 20px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.react-jinke-music-player-main .audio-lists-panel-content .audio-item.playing {
  background-color: #454951;
}
.react-jinke-music-player-main .audio-lists-panel-content .audio-item.playing svg {
  color: #31c27c;
}
.react-jinke-music-player-main .audio-lists-panel-content .audio-item .player-icons {
  display: inline-block;
  width: 30px;
}
.react-jinke-music-player-main .audio-lists-panel-content .audio-item .player-icons .loading {
  animation: audioLoading .9s linear infinite;
}
.react-jinke-music-player-main .audio-lists-panel-content .audio-item:hover,
.react-jinke-music-player-main .audio-lists-panel-content .audio-item:active {
  background-color: #454951;
}
.react-jinke-music-player-main .audio-lists-panel-content .audio-item:hover svg,
.react-jinke-music-player-main .audio-lists-panel-content .audio-item:active svg {
  color: #31c27c;
}
.react-jinke-music-player-main .audio-lists-panel-content .audio-item .group {
  display: inline-flex;
}
.react-jinke-music-player-main .audio-lists-panel-content .audio-item .player-name {
  flex: 1 1 auto;
  padding: 0 20px 0 10px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.react-jinke-music-player-main .audio-lists-panel-content .audio-item .player-time {
  font-size: 12px;
  color: rgba(217, 217, 217, 0.45);
}
.react-jinke-music-player-main .play-mode-title {
  position: absolute;
  right: 72px;
  bottom: 80px;
  padding: 5px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 1.5;
  text-align: center;
  transform: scale(0);
  transform-origin: bottom center;
  z-index: 1000;
  transition: ttransform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.react-jinke-music-player-main .play-mode-title.play-mode-title-visible {
  animation: scaleTo 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.react-jinke-music-player {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
}
.react-jinke-music-player svg {
  font-size: 24px;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.react-jinke-music-player svg:hover,
.react-jinke-music-player svg:active {
  color: #31c27c;
}
@media screen and (max-width: 767px) {
  .react-jinke-music-player svg {
    font-size: 22px;
  }
}
.react-jinke-music-player .music-player {
  cursor: pointer;
  position: relative;
}
.react-jinke-music-player .music-player-audio {
  display: none !important;
}
.react-jinke-music-player .music-player-controller {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #fff;
  color: #31c27c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 20px;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 99;
  padding: 10px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-jinke-music-player .music-player-controller::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 80px;
  height: 80px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  z-index: 88;
  animation: scale 5s linear infinite;
}
@media screen and (max-width: 767px) {
  .react-jinke-music-player .music-player-controller,
  .react-jinke-music-player .music-player-controller::before {
    width: 60px;
    height: 60px;
  }
}
.react-jinke-music-player .music-player-controller i {
  font-size: 28px;
}
.react-jinke-music-player .music-player-controller:active {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.react-jinke-music-player .music-player-controller:hover {
  font-size: 16px;
}
.react-jinke-music-player .music-player-controller:hover .music-player-controller-setting {
  transform: scale(1);
}
.react-jinke-music-player .music-player-controller .controller-title {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .react-jinke-music-player .music-player-controller i {
    font-size: 20px;
  }
  .react-jinke-music-player .music-player-controller:hover,
  .react-jinke-music-player .music-player-controller:active {
    font-size: 12px;
  }
  .react-jinke-music-player .music-player-controller:hover .music-player-controller-setting,
  .react-jinke-music-player .music-player-controller:active .music-player-controller-setting {
    transform: scale(1);
  }
}
.react-jinke-music-player .music-player-controller .music-player-controller-setting {
  width: 100%;
  height: 100%;
  background: rgba(49, 194, 124, 0.7);
  transform: scale(0);
  border-radius: 50%;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-jinke-music-player .music-player-panel {
  box-shadow: 0 0 5px #403f3f;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #fff;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.react-jinke-music-player .music-player-panel .panel-content {
  height: 100%;
  padding: 0 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-jinke-music-player .music-player-panel .panel-content .img-content {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .react-jinke-music-player .music-player-panel .panel-content .img-content {
    width: 40px;
    height: 40px;
  }
}
.react-jinke-music-player .music-player-panel .panel-content .img-content img {
  width: 100%;
}
.react-jinke-music-player .music-player-panel .panel-content .img-rotate {
  animation: imgRotate 15s linear infinite;
}
.react-jinke-music-player .music-player-panel .panel-content .hide-panel,
.react-jinke-music-player .music-player-panel .panel-content .upload-music {
  flex-basis: 10%;
  cursor: pointer;
  margin-left: 15px;
}
@media screen and (max-width: 768px) {
  .react-jinke-music-player .music-player-panel .panel-content .progressbar-content {
    display: none !important;
  }
}
.react-jinke-music-player .music-player-panel .panel-content .progressbar-content {
  flex: 1;
  padding: 0 20px;
}
.react-jinke-music-player .music-player-panel .panel-content .progressbar-content .audio-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  max-width: 400px;
}
.react-jinke-music-player .music-player-panel .panel-content .progressbar-content .audio-main {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-top: 6px;
}
.react-jinke-music-player .music-player-panel .panel-content .progressbar-content .audio-main .current-time,
.react-jinke-music-player .music-player-panel .panel-content .progressbar-content .audio-main .duration {
  font-size: 12px;
  flex-basis: 5%;
}
.react-jinke-music-player .music-player-panel .panel-content .progressbar-content .progressbar {
  flex: 1 1 auto;
  width: 100%;
  margin: 2px 20px 0 20px;
}
.react-jinke-music-player .music-player-panel .panel-content .progressbar-content .progressbar .progress {
  position: absolute;
  display: inline-block;
  height: 5px;
  left: 0;
  top: 0;
  transition: width 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0.05) 33%, rgba(0, 0, 0, 0.05) 67%, rgba(0, 0, 0, 0) 69%);
  background-color: #31c27c;
}
.react-jinke-music-player .music-player-panel .panel-content .progressbar-content .progressbar .progress .progress-change {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0;
  bottom: -2px;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  cursor: pointer;
}
.react-jinke-music-player .music-player-panel .panel-content .player-content {
  padding-left: 5%;
  display: inline-flex;
  align-items: center;
  align-content: center;
  flex-basis: 15%;
}
.react-jinke-music-player .music-player-panel .panel-content .player-content > .group {
  text-align: center;
  flex: 1;
  margin: 0 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.react-jinke-music-player .music-player-panel .panel-content .player-content > .group,
.react-jinke-music-player .music-player-panel .panel-content .player-content > .group > svg {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .react-jinke-music-player .music-player-panel .panel-content .player-content > .group {
    margin: 0 6px;
  }
}
@media screen and (max-width: 320px) {
  .react-jinke-music-player .music-player-panel .panel-content .player-content > .group {
    margin: 0 4px;
  }
}
.react-jinke-music-player .music-player-panel .panel-content .player-content > .group > i {
  cursor: pointer;
  color: #31c27c;
  font-size: 25px;
  vertical-align: middle;
}
.react-jinke-music-player .music-player-panel .panel-content .player-content .theme-switch .rc-switch {
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .react-jinke-music-player .music-player-panel .panel-content .player-content .play-sounds {
    display: none !important;
  }
}
.react-jinke-music-player .music-player-panel .panel-content .player-content .prev-audio svg,
.react-jinke-music-player .music-player-panel .panel-content .player-content .next-audio svg {
  font-size: 35px;
}
.react-jinke-music-player .music-player-panel .panel-content .player-content .play-btn {
  padding: 0 18px;
}
.react-jinke-music-player .music-player-panel .panel-content .player-content .play-btn svg {
  font-size: 26px;
}
.react-jinke-music-player .music-player-panel .panel-content .player-content .loop-btn.active {
  color: #31c27c;
}
.react-jinke-music-player .music-player-panel .panel-content .player-content .play-sounds {
  align-items: center;
}
.react-jinke-music-player .music-player-panel .panel-content .player-content .play-sounds svg {
  font-size: 30px;
}
.react-jinke-music-player .music-player-panel .panel-content .player-content .play-sounds .sounds-icon {
  margin-right: 5px;
  flex: 1 1 auto;
}
.react-jinke-music-player .music-player-panel .panel-content .player-content .play-sounds .sound-operation {
  width: 100px;
}
.react-jinke-music-player .music-player-panel .panel-content .player-content .audio-lists-btn {
  min-width: 60px;
  height: 23px;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 10px;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.02);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
}
.react-jinke-music-player .music-player-panel .panel-content .player-content .audio-lists-btn > .group:hover,
.react-jinke-music-player .music-player-panel .panel-content .player-content .audio-lists-btn > .group:hover > svg {
  color: #31c27c;
}
.react-jinke-music-player .music-player-panel .panel-content .player-content .audio-lists-btn .audio-lists-num {
  margin-left: 8px;
}
.react-jinke-music-player .rc-switch-inner svg {
  font-size: 13px;
}
