ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
* {
  box-sizing: border-box;
}
.hidden {
  display: none !important;
}
.text-center {
  text-align: center;
}
.react-jinke-music-player .loading,
.react-jinke-music-player-mobile .loading {
  display: inline-flex;
  animation: audioLoading linear .9s infinite;
  margin-top: 4px;
}
.react-jinke-music-player .loading svg,
.react-jinke-music-player-mobile .loading svg {
  font-size: 24px;
  color: #31c27c;
}
.translate {
  animation: translate 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.scale {
  animation: scaleTo 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@keyframes playing {
  to {
    transform: rotateX(360deg);
  }
}
@keyframes audioLoading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  from {
    transform: scale(0);
  }
  50% {
    opacity: .6;
    transform: scale(1.5);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes scaleTo {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleFrom {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes imgRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fromTo {
  from {
    transform: scale(1) translate3d(0, 110%, 0);
  }
  to {
    transform: scale(1) translate3d(0, 0, 0);
  }
}
@keyframes fromOut {
  from {
    transform: scale(1) translate3d(0, 0, 0);
  }
  to {
    transform: scale(1) translate3d(0, 110%, 0);
  }
}
@keyframes fromDown {
  from {
    transform: scale(1) translate3d(0, -110%, 0);
  }
  to {
    transform: scale(1) translate3d(0, 0, 0);
  }
}
@keyframes translate {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.img-rotate-pause {
  animation-play-state: paused !important;
}
