@primary-color: #31c27c; 
@default-color: #d9d9d9; 
@bg-color:#f7f8fa;  
@border-color:#d9d9d9;
@light-theme-panel-bg:#fff;
@music-player-panel-height:80px;
@lists-panel-width:480px;
@lists-panel-height:410px;
@lists-panel-item-bg:#40444b;
@lists-panel-item-bg-light:#fff;
@panel-header-height:50px;
@panel-bg:rgba(0,0,0,.7);
@font-family:"Yuanti SC",STKaiti,'Microsoft YaHei',Helvetica,sans-serif,Arial,Verdana;
@font:'iconfont';
@font-color:#444;
@player-width:80px;
@player-height:@player-width;
@base-color:rgba(255,255,255,.6);
@common-animate-type:"cubic-bezier(0.25, 0.46, 0.33, 0.98)";
@common-animate-time:"400 ms cubic-bezier(0.25, 0.46, 0.33, 0.98)";