ul,li{
    margin:0;
    padding: 0
}
.react-jinke-music-player{
    * { 
        touch-action: none; 
    }
    @primary-color: #31c27c; 
    @default-color: #d9d9d9; 
    @bg-color:#f7f8fa;  
    @border-color:#d9d9d9;
    @light-theme-panel-bg:#fff;
    @music-player-panel-height:80px;
    @lists-panel-width:480px;
    @lists-panel-height:410px;
    @lists-panel-item-bg:#40444b;
    @lists-panel-item-bg-light:#fff;
    @panel-header-height:50px;
    @panel-bg:rgba(0,0,0,.7);
    @font-family:"Yuanti SC",STKaiti,'Microsoft YaHei',Helvetica,sans-serif,Arial,Verdana;
    @font:'iconfont';
    @font-color:#444;
    @player-width:80px;
    @player-height:@player-width;
    position: absolute;
    left:0;
    top:0;
    width:@player-width;
    height:@player-height;
 
    ::-webkit-scrollbar-thumb {
        height: 20px;
        background-color: @primary-color;
        opacity: .5;
    }
 
    ::-webkit-scrollbar{
        width: 10px;
        background-color: @bg-color;
    }
    .clearfix(){
        &::before,&::after{
            clear:both;
            content:"";
            display: table;
            zoom: 1;
        }
    }
    .hidden(){
        display: none !important;
    }
    .hidden{
        .hidden();
    }
    .text-center(){
        text-align: center
    }
    .text-center{
        text-align: center;
    }
    .transition(@time:.3s){
        transition: all @time cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .center(){
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-hover(@color:@default-color,@lighten:3%){
        color:#fff;
        background-color: @color;
        border:1px solid @color;
        &:hover,&:active{
            background-color: lighten(@color,@lighten)
        }
    }

    .ellipsis-n(@n:2){
        -webkit-line-clamp:@n;
        display:-webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        justify-content: center;
    }
    .ellipsis-1(){
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    svg{
        font-size:24px;
        .transition(.5s);
        &:hover,&:active{
            color:@primary-color;
        }
    }
    @media screen and (max-width:767px){
        svg{
            font-size:22px;
        }
    }
    .loading{
        display: inline-flex;
        animation: audioLoading linear .9s infinite;
        margin-top:4px;
        svg{
            font-size:24px;
            color:@primary-color
        }
    }
    .music-player{
        cursor:pointer;
        position: relative;
        &-audio{
            .hidden();
        }
        &-controller{
            width:@player-width;
            height:@player-height;
            border-radius: 50%;
            border:2px solid #fff;
            background-color: #fff;
            color:@primary-color;
            box-shadow: 0 0 10px rgba(0,0,0,.15);
            font-size:20px;
            .text-center();
            .transition(.3s);
            z-index: 99;
            padding: 10px;
            position: absolute;
            &::before{
                content:"";
                position: absolute;
                left:10px;
                top:10px;
                width:@player-width;
                height:@player-height;
                border:1px solid rgba(255,255,255,.2);
                border-radius: 50%;
                z-index:88;
                animation: scale 5s linear infinite;
            }
            @media screen and (max-width:767px){
                &,&::before{
                    width:60px;
                    height:60px;
                }
            }
            .center();
            i{
                font-size:28px;
            }
            &:active{
                box-shadow: 0 0 30px rgba(0,0,0,.2);
            }
            &:hover{
                font-size:16px;
                .music-player-controller-setting{
                    transform: scale(1)
                }
            }
            .controller-title{
                font-size:14px;
            }
            @media screen and (max-width:768px){
                i{
                    font-size:20px;
                }
                &:hover,&:active{
                    font-size:12px;
                    .music-player-controller-setting{
                        transform: scale(1)
                    }
                }
            }
            .music-player-controller-setting{
                width:100%;
                height:100%;
                background: @primary-color;
                transform:scale(0);
                border-radius: 50%;
                .transition(.4s);
                color:#fff;
                position: absolute;
                left:0;
                top:0;
                .center();
            }
        }
    }
    .music-player-panel{
        box-shadow: 0 0 5px #403f3f;
        @panel-height:@music-player-panel-height;
        position: fixed;
        width:100%;
        bottom:0;
        left:0;
        color:#fff;
        height:@panel-height;
        background-color: @panel-bg;
        // padding: 6px 20px;
        z-index: 99;
        .transition(.8s);
        .panel-content{
            height:100%;
            padding: 0 30px;
            position: relative;
            .center();
            .img-content{
                width:50px;
                height:50px;
                border-radius: 50%;
                overflow: hidden;
                background-size:100%;
                background-repeat: no-repeat;
                box-shadow: 0 0 10px rgba(0,0,0,.2);
                @media screen and (max-width:768px){
                    width: 40px;
                    height:40px;
                }
                img{
                    width: 100%;
                }
            }
            .img-rotate{
                    animation: imgRotate 15s linear infinite;
            }
            .img-rotate-pause{
                animation-play-state:paused
            }
            .hide-panel,.upload-music{
                flex-basis:10%;
                cursor: pointer;
                margin-left:15px;
            }
            @media screen and (max-width:768px){
                .progressbar-content{
                    .hidden()
                }
            }
            .progressbar-content{
                flex:1;
                padding: 0 20px;
                .audio-title{
                   .ellipsis-1();
                   display: inline-block;
                   max-width: 400px;
                }
                .audio-main{
                    width: 100%;
                    display: inline-flex;
                    justify-content: center;
                    margin-top:6px;
                    .current-time,
                    .duration{
                        font-size:12px;
                        flex-basis: 5%;
                    }
                }
                .progressbar{
                    flex:1 1 auto;
                    @progress-height:5px;
                    width:100%;
                    margin: 2px 20px 0 20px;
                    .progress{
                        position: absolute;
                        display: inline-block;
                        height:@progress-height;
                        left:0;
                        top:0;
                        transition: width .3s cubic-bezier(0.165, 0.84, 0.44, 1);
                        background:linear-gradient(135deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 31%, rgba(0,0,0,0.05) 33%, rgba(0,0,0,0.05) 67%, rgba(0,0,0,0) 69%);
                        background-color: @primary-color;
                        .progress-change{
                            position: absolute;
                            width:10px;
                            height:10px;
                            right:0;
                            bottom:-2px;
                            border-radius: 50%;
                            box-shadow: 0 0 2px rgba(0,0,0,.4);
                            background-color: #fff;
                            cursor: pointer;
                            
                        }
                    }
                }
            }
            .player-content{
                padding-left:5%;
                display: inline-flex;
                align-items: center;
                align-content: center;
                flex-basis: 15%;
                >.group{
                    cursor: pointer;
                    text-align: center;
                    flex:1;
                    margin: 0 10px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    @media screen and (max-width:767px){
                        margin: 0 6px;
                    }
                    @media screen and (max-width:320px){
                        margin: 0 4px;
                    }
                    >i{
                        cursor:pointer;
                        color:@primary-color;
                        font-size:25px;
                        vertical-align: middle
                    }
                }
                // >.group:last-child{
                //     margin-10px;
                // }
                .theme-switch{
                  .rc-switch{
                      background-color: transparent;
                  }
                }
                @media screen and (max-width:768px){
                    .play-sounds{
                        .hidden()
                    }
                }
                .loop-btn{
                    &.active{
                        color:@primary-color
                    }
                }
                .play-sounds{
                    align-items: center;
                    svg{
                        font-size:30px;
                    }
                    .sounds-icon{
                        margin-right: 5px;
                        flex:1 1 auto;
                    }
                    .sound-operation{
                        width:100px;
                    }
                }
                .audio-lists-btn{
                    min-width: 60px;
                    height: 23px;
                    border-radius: 40px;
                    background-color: rgba(0,0,0,.3);
                    padding: 0 10px;
                    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.02);
                    .transition(.5s);
                    position: relative;
                    >.group:hover{
                        &,&>svg{
                            color:@primary-color;
                        }
                    }
                    .audio-lists-num{
                        margin-left: 8px;
                    }
                }
            }
        }
    }
    .rc-switch-inner{
        svg{
            font-size:13px;
        }
    }
    .audio-lists-panel{
        display: block;
        overflow: hidden;
        position: absolute;
        // right: 70px;
        // bottom:77px;
        right:33px;
        bottom:@music-player-panel-height;
        z-index: 198;
        width:  @lists-panel-width;
        height:    @lists-panel-height;
        color: rgba(255,255,255,.8);
        transform-origin: right bottom;
        background-color: @panel-bg;
        transform: scale(0);
        display: none\9;
        .transition(.5s);
        @media screen and (max-width:767px){
            width:100% !important;
            right:0;
            height:calc(~"100vh - @{music-player-panel-height}");
            transform-origin: bottom center;
        }
        &.show{
            animation: scaleTo .4s cubic-bezier(.43,-0.1,.16,1.1) forwards;
            display: block\9;
        }
    }
    .audio-lists-panel-header{
        .close-btn{
            float: right;
            cursor: pointer;
        }
        border-bottom:1px solid lighten(@panel-bg,1%);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        .title{
            height:@panel-header-height;
            line-height: @panel-header-height;
            padding: 0 20px;
            font-size: 16px;
            margin: 0;
            text-align: left;
            font-weight: 500;
        }
    }
    .audio-lists-panel-content{
        overflow-x: hidden;
        overflow-y: auto;
        height: @lists-panel-height - @panel-header-height - 1px;
        @media screen and (max-width:767px){
            width:100% !important;
            right:0;
            height:calc(~"100vh - @{music-player-panel-height} - @{panel-header-height}");
            transform-origin: bottom center;
        }
        &.no-content{
            .center();
        }
        .no-data{
            margin-left:10px;
        }
        .audio-item{
            background-color:  @lists-panel-item-bg;
            border-bottom: @lists-panel-item-bg;
            padding: 0 20px;
            line-height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size:14px;
            cursor: pointer;
            .transition(.3s);
            &.playing{
                .player-icons{
                    animation: playing 8s infinite;
                }
                background-color: lighten(@lists-panel-item-bg,2%);
                svg{
                    color:@primary-color;
                }
            }
            &.pause{
                .player-icons{
                    animation:none;
                }
            }
            .player-icons{
                display: inline-block;
                width:30px;
            }
            &:hover,&:active{
                background-color: lighten(@lists-panel-item-bg,2%);
                svg{
                    color:@primary-color;
                }
            }
            .group{
                display: inline-flex;
            }
            .player-name{
                flex:1 1 auto;
                padding: 0 20px 0 10px;
                display: inline-block;
                .ellipsis-1();
            }
            .player-time{
                font-size:12px;
            }
        }
    }
    .play-mode-title{
        position: absolute;
        right: 72px;
        bottom:@music-player-panel-height;
        padding: 5px 20px;
        background-color: rgba(0,0,0,.5);
        color:#fff;
        line-height: 1.5;
        text-align: center;
        transform: scale(0);
        transform-origin: bottom center;
        z-index: 200;
        transition: ttransform .3s cubic-bezier(0.165, 0.84, 0.44, 1);
        &.play-mode-title-visible{
            animation: scaleTo .6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    }
    &.light-theme{
        svg{
            color:@primary-color;
            &:hover,&:active{
                color:lighten(@primary-color,5%);
            }
        }
        .music-player-panel{
            box-shadow:0 1px 2px 0 rgba(0,34,77,.05);
            background-color:@light-theme-panel-bg;
            color:#7D7D7D;
            .img-content{
                box-shadow: 0 0 10px #dcdcdc;
            }
        }
        .rc-switch{
            color:#fff;
            &::after{
                background-color: #fff;
            }
        }
        .rc-switch-checked{
            background-color: @primary-color !important;
            border:1px solid @primary-color
        }
        .rc-switch-inner{
            color:#fff;
        }
        .audio-lists-btn{
            background-color:#E1E1E2 !important;
            &:hover,&:active{
                color:@font-color;
                background-color: lighten(#E1E1E2,2%);
            }
            >.group:hover{
                &,&>svg{
                    color:@font-color;
                }
            }
        }
        .audio-lists-panel{
            color:@font-color;
            background-color:  @lists-panel-item-bg-light;
            box-shadow: 0 0 2px #dcdcdc;
            .audio-item{
                background-color:@lists-panel-item-bg-light;
                box-shadow: 0 1px 2px rgba(0,0,0,.2)
            }
        }
        .audio-lists-panel-header{
            color:@font-color;
            background-color: #F4F4F7;
            border-bottom:1px solid #F4F4F7;
        }
        .audio-item{
            box-shadow: 0 0 2px transparent !important;
            border-bottom:1px solid rgba(220, 220, 220, 0.26);
            &:hover,&:active{
                background-color: darken(@lists-panel-item-bg-light,2%);
                svg{
                    color:@primary-color;
                }
            }
        }

    }
    .translate{
        animation: translate .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards
    }
    .scale{
        animation: scaleTo .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards
    }

    @keyframes playing{
        to{
            transform: rotateX(360deg)
        }
    }
    @keyframes audioLoading {
        from{
            transform: rotate(0deg)
        }
        to{
            transform: rotate(360deg)
        }
    }

    @keyframes scale{
        from{
            transform: scale(0)
        }
        50%{
            opacity: .6;
            transform: scale(1.5)
        }
        to{
        opacity: 0;
            transform: scale(2)
        }

    }
    @keyframes scaleTo{
        from{
            transform: scale(0)
        }
        to{
            transform: scale(1)
        }
    }
    @keyframes imgRotate{
        from{
            transform: rotate(0deg)
        }
        to{
            transform: rotate(360deg)
        }
    }
    @keyframes translate{
        from{
            transform: translate3d(100%,0,0)
        }
        to{
            transform: translate3d(0,0,0)
        }
    }
}

